<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790969471633-mm462fs0bg1ts58gn3nk6qqj0kkqogj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790969471633-mm462fs0bg1ts58gn3nk6qqj0kkqogj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>790969471633-m5q50k1pkuc713dsj5k5pljti0h4hjaf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWhTiPc828s8xtfqyfUr456qs9n6MxXKg</string>
	<key>GCM_SENDER_ID</key>
	<string>790969471633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Flixdin.iOS.sanjeev</string>
	<key>PROJECT_ID</key>
	<string>flixdin-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flixdin-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790969471633:ios:6b6cac88e70a8fb5e0a530</string>
	<key>DATABASE_URL</key>
	<string>https://flixdin-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>